.sign {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.one-sign {
  display: grid;
  padding: 1rem;
  border: 2px black solid;
}


.App {
  text-align: center;
  background-color: green;
}

.label {
  display: block;
}

.input {
  /* font-size: larger; */
  /* padding: 5px;
  margin: 2px; */

}

.btn {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.message {
  /* display: flex;
  justify-content: center; */
}

/* .error {
  display: block;
  background-color: red;
  color: white;
  height: 50px;
  padding: 5px;
}

.success {
  display: block;
  background-color: lightblue;
  color: black;
  height: 50px;
  padding: 5px;
} */
